{% extends 'website/base.html' %}

{% block title %}
    {{event.title}} | IEDC GEC Palakkad
{% endblock %}


{% block content %}

<h2>{{event.title}}</h2>
<p>{{event.content}}</p>
<img src="{{event.flyer.url}}" alt="HustleChats#1" class="event-flyer">

<br><br>
{% if event.event_is_live %}
<a class="btn btn-sm btn-success" href="{{event.register}}" target="_blank">Register</a>
{% else %}
<a class="btn btn-sm btn-secondary" href="#" disabled>Registration Closed</a>
{% endif %}

{% if event.is_hustle_chat %}
<a class="btn btn-sm btn-outline-primary" href="{{event.yt_link}}" target="_blank">Watch This Episode</a>
{% endif %}

{% endblock %}