{% extends 'website/base.html' %}
{% load index %}

{% block title %}
Home | IEDC GEC Palakkad
{% endblock %}

{% block content %}

{% for event in events %}
    {% if event.is_removed is False %}

    <a href="{% url 'event-view' event.slug %}">{{event.title}}</a>
    <br>
    <small>{{event.event_date}}</small>
    <p>{{event.content | truncatechars:255}}</p>
    <br>
    <!-- <img src="{{event.flyer.url}}" class="flyer"> -->
    <img src="{{ links_list|index:forloop.counter0 }}" class="flyer">
    <br><br>
    {% if event.event_is_live %}
    <a class="btn btn-sm btn-success" href="{{event.register}}" target="_blank">Register</a>
    {% else %}
    <a class="btn btn-sm btn-secondary" href="#" disabled>Registration Closed</a>
    {% endif %}

    {% if event.is_hustle_chat %}
    <a class="btn btn-sm btn-outline-primary" href="{{event.yt_link}}" target="_blank">Watch This Episode</a>
    {% endif %}

    <br><br>
    <hr>
    {% endif %}
{% endfor %}
{% endblock %}